<div class="card">
    <div class="card-header">
        <h4 class="card-title">Datos del estudiante</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <p class="text-danger">* Los campos en rojo son requeridos</p>
            <form [formGroup]="userForm" (ngSubmit)="save_user(userForm)" autocomplete="off">
                <div class="row">
                    <div *ngIf="erros.length >0"class="col-12">
                        <div class="alert alert-danger" role="alert">
                            <p *ngFor="let e of erros; index as i" > *{{ e}}</p>
                          </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="text-danger" for="name">Nombre</label>
                            <input   maxlength="100" [(ngModel)]="userData.name" formControlName="name" type="text" class="form-control" id="name"
                                placeholder="Nombre">

                                <p *ngIf="  (lf.name.dirty || lf.name.touched) && (lf.name.invalid || lf.name.errors?.required)"
                                class="help-block mt-1 text-danger"> 
                                <i class="ft-alert-circle align-middle"></i> Nombres requerido
                            </p>
                            
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="text-danger" for="email">Email</label>
                            <input maxlength="80"  [(ngModel)]="userData.email" formControlName="email" type="email" class="form-control" id="email" placeholder="name@example.com">
                            <p *ngIf="  (lf.email.dirty || lf.email.touched) && (lf.email.invalid || lf.email.errors?.required)"
                            class="help-block mt-1 text-danger"> 
                            <i class="ft-alert-circle align-middle"></i> Email requerido
                        </p>
                       
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="phone">Teléfono</label>
                            <input maxlength="15" [(ngModel)]="userData.phone" formControlName="phone" type="phone" class="form-control" id="phone" placeholder="Ejm: 12312">
                        </div>
                    </div>
                    <div class="col-12">
                        <hr>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label [ngClass]="{'text-danger': is_new()}" for="password">Contaseña</label>
                            <input maxlength="20" [(ngModel)]="userData.password" formControlName="password" type="password" class="form-control" id="password" placeholder="Ingresar contraseña">
                        </div>
                        <p *ngIf="(lf.password.dirty || lf.password.touched) && !is_valid_password()"
                            class="help-block mt-1 text-danger"> 
                            <i class="ft-alert-circle align-middle"></i>Contraseñas no coincide</p>
                    
                    </div>
                    <div class="col-6">
                        <div [ngClass]="{'text-danger': is_new()}"  class="form-group">
                            <label for="password_confirmation">Repita contraseña</label>
                            <input maxlength="20" [(ngModel)]="userData.password_confirmation" formControlName="password_confirmation" type="password" class="form-control" id="password_confirmation"
                                placeholder="Ingresar contraseña">
                        </div>
                    </div> 
                    <div class="col-12">
                        <div  class="text-right">
                            <a style="margin-left: 10px" [routerLink]="['/students']" class="btn btn-default" type="button"
                                class="btn btn-info float-right">Volver</a>
                            <button  (click)="save_user(userForm)" [disabled]="loading || userForm.invalid || !is_valid_password()" class="btn btn-default" type="button"
                                class="btn btn-success float-right">Guardar</button>
                            
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>