<div class="card">
    <div class="card-header">
        <h4 class="card-title">Cursos</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="text-right">
                        <a [routerLink]="['/courses/new/']" class="btn btn-default" type="button"
                            class="btn btn-success float-right">Nuevo</a>
                        
                    </div>
                </div>
                <div class="col-12">
                    <div class="table-responsive">
                        <table style="margin-top: 10px;" class="table table table-striped table-sm table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Intensidad</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let course of courses; index as i">
                                    <th scope="row">{{course.id}}</th>
                                    <td>{{course.name}}</td>
                                    <td>{{course.intensity}} Hora</td>
                                    <td>
                                        <a [routerLink]="['/courses/edit/'+course.id]" type="button"
                                            class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                                        <button [disabled]="loading" (click)="delete_student(course.id)" type="button" class="btn btn-sm btn-danger"><i
                                                class="fa fa-remove"></i></button>
                                        <button title="Asignar estudiantes" [routerLink]="['/courses/assign/'+course.id]" [disabled]="loading"  type="button" class="btn btn-sm btn-info"><i
                                                    class="fa fa-user"> Estudiantes</i></button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>