<div class="card">
    <div class="card-header">
        <h4 class="card-title">Mis Cursos</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <div class="row">
                
                <div class="col-12">
                    <div class="table-responsive">
                        <table style="margin-top: 10px;" class="table table table-striped table-sm table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Intensidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let course of courses; index as i">
                                    <th scope="row">{{course.id}}</th>
                                    <td>{{course.name}}</td>
                                    <td>{{course.intensity}} Hora</td>
                                   
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>