<div class="card">

    <div class="card-content">
        <div class="card-body">
            <div>
                <label for=""><b>Nombre : </b> </label> <small>{{course.name}}</small><br>
                <label for=""><b>Intensidad : </b> </label> <small>{{course.intensity}} Hora(s)</small>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Estudiante</h4>
    </div>
    <div class="card-content">
        <div class="card-body">

            <p class="text-danger">* Los campos en rojo son requeridos</p>

            <div class="row">
                <div *ngIf="erros.length >0" class="col-12">
                    <div class="alert alert-danger" role="alert">
                        <p *ngFor="let e of erros; index as i"> *{{ e}}</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-6">
                    <div class="form-group">
                        <label class="text-danger" for="user_id">Estudiante</label>
                        <div class="ng-autocomplete">
                            <ng-autocomplete [data]="students" [searchKeyword]="keyword"
                                placeholder="Buscar por nombre o email" (selected)='selectEvent($event)'
                                (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                                historyIdentifier="students" [itemTemplate]="itemTemplate"
                                (inputCleared)="clear()"
                                [notFoundTemplate]="notFoundTemplate">
                            </ng-autocomplete>

                            <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item.name"></a>
                            </ng-template>

                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </div>

                    </div>
                </div>


                <div class="col-sm-12 col-md-2"><br>
                    <button (click)="save_course_student()" [disabled]="loading || user_id < 0 " class="btn btn-default" type="button"
                        class="btn btn-success ">Agregar
                    </button>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">

    <div class="card-content">
        <div class="card-header">
            <h4 class="card-title">Estudiantes</h4>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-12">
                    <div class="table-responsive">
                        <table style="margin-top: 10px;" class="table table table-striped table-sm table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let student of course_students; index as i">
                                    <th scope="row">{{student.id}}</th>
                                    <td>{{student.name}}</td>
                                    <td>
                                        <button [disabled]="loading" (click)="delete_student(student.id)" type="button"
                                            class="btn btn-sm btn-danger"><i class="fa fa-remove"></i></button>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12">
                    <div  class="text-right">
                        <a style="margin-left: 10px" [routerLink]="['/courses']" class="btn btn-default" type="button"
                            class="btn btn-info float-right">Volver</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>