<div class="card">
    <div class="card-header">
        <h4 class="card-title">Datos del estudiante</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <p class="text-danger">* Los campos en rojo son requeridos</p>
            <form [formGroup]="courseForm" (ngSubmit)="save_course(courseForm)" autocomplete="off">
                <div class="row">
                    <div *ngIf="erros.length >0"class="col-12">
                        <div class="alert alert-danger" role="alert">
                            <p *ngFor="let e of erros; index as i" > *{{ e}}</p>
                          </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="text-danger" for="name">Nombre</label>
                            <input   maxlength="100" [(ngModel)]="courseData.name" formControlName="name" type="text" class="form-control" id="name"
                                placeholder="Nombre">

                                <p *ngIf="  (lf.name.dirty || lf.name.touched) && (lf.name.invalid || lf.name.errors?.required)"
                                class="help-block mt-1 text-danger"> 
                                <i class="ft-alert-circle align-middle"></i> Nombres requerido
                            </p>
                            
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="text-danger" for="intensity">Entensidad</label>
                            <input   [(ngModel)]="courseData.intensity" formControlName="intensity" type="number" class="form-control" id="intensity" placeholder="Ingresar intensidad">
                            <p *ngIf="  (lf.intensity.dirty || lf.intensity.touched) && (lf.intensity.invalid || lf.intensity.errors?.required)"
                            class="help-block mt-1 text-danger"> 
                            <i class="ft-alert-circle align-middle"></i> Intensidad requerido
                        </p>
                       
                        </div>
                    </div>
               
                    <div class="col-12">
                        <div  class="text-right">
                            <a style="margin-left: 10px" [routerLink]="['/courses']" class="btn btn-default" type="button"
                                class="btn btn-info float-right">Volver</a>
                            <button (click)="save_course(courseForm)" [disabled]="loading || courseForm.invalid " class="btn btn-default" type="button"
                                class="btn btn-success float-right">Guardar</button>

                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>