<div class="card">
    <div class="card-header">
        <h4 class="card-title">Estudiantes</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="text-right">
                        <a [routerLink]="['/students/new/']" class="btn btn-default" type="button"
                            class="btn btn-success float-right">Nuevo</a>
                        
                    </div>
                </div>
                <div class="col-12">
                    <div class="table-responsive">
                        <table style="margin-top: 10px;" class="table table table-striped table-sm table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Teléfono</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users; index as i">
                                    <th scope="row">{{user.id}}</th>
                                    <td>{{user.name}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.phone}}</td>
                                    <td>
                                        <a [routerLink]="['/students/edit/'+user.id]" type="button"
                                            class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                                        <button [disabled]="loading" (click)="delete_student(user.id)" type="button" class="btn btn-sm btn-danger"><i
                                                class="fa fa-remove"></i></button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>